.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-weight: 500;
  color: #444;
  font-size: 0.875rem;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2px;
  background-color: white;
  border: 1px solid #d1d5db; /* gray-300 */
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: border 0.3s, box-shadow 0.3s;
}

.wrapper:hover {
  border-color: #f43f5e; /* rose-500 */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.wrapper:focus-within {
  border-color: #f43f5e; /* rose-500 */
}

.select {
  flex-grow: 1;
  appearance: none;
  background: transparent;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
}

.option {
  text-transform: capitalize;
}

.icon {
  position: absolute;
  right: 0.5rem;
  color: #6b7280; /* gray-500 */
  pointer-events: none;
}

.error {
  color: #dc2626; /* red-600 */
  margin-left: 0.25rem;
  font-size: 0.875rem;
}

.help {
  margin-left: 0.25rem;
  font-size: 0.875rem;
}
