.container {
  padding: 1.5rem; /* p-6 */
  display: flex;
  flex-direction: column;
  gap: 1rem; /* gap-4 */
  background-color: var(--color-light); /* bg-light */
  height: 100%;
  border-radius: 0.75rem; /* rounded-xl */
}

.controlBar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.flexColEnd {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.input {
  padding: 0.5rem;
  background-color: var(--color-light);
  border-radius: 0.75rem;
  border: 1px solid #ccc;
  font-size: 0.875rem;
}

.submitButton {
  background-color: var(--color-primary);
  color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  border-radius: 9999px;
  padding: 0.5rem;
  font-weight: 500;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.submitButton:hover {
  background-color: var(--color-accent);
  filter: brightness(1.05);
}

.sectionCentered {
  align-self: center;
  width: fit-content;
}

.textLabel {
  font-size: 0.875rem;
  font-weight: 600;
  color: #374151;
}

.textValue {
  font-size: 1.125rem;
  font-weight: 600;
  color: #374151;
}

.debitContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-left: 4px solid #e5e7eb;
  border-right: 4px solid #e5e7eb;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  transition: background 0.3s;
  cursor: pointer;
}

.debitContainer:hover {
  background-color: #f1f5f9;
}

.iconButton {
  padding: 0.5rem;
  min-width: 3rem;
  font-size: 0.875rem;
  background-color: var(--color-primary);
  color: #e2e8f0;
  border-radius: 0.75rem;
  transition: background 0.3s;
}

.iconButton:hover {
  background-color: var(--color-accent);
}

.tableContainer {
  height: 400px;
  width: 100%;
  box-shadow: 2px 10px 16px rgba(42, 42, 42, 0.19);
  border-radius: 8px;
  font-weight: 500;
}

.mainSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
