/* Modal overlay */
.modalOverlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

/* Modal content */
.modalContent {
  background-color: white;
  border-radius: 0.375rem; /* rounded-md */
  overflow: auto;
  max-height: 80vh;
  width: 90vw;
  padding: 1rem; /* p-4 */
  position: relative;
}

@media(min-width: 768px) {
  .modalContent {
    width: 60vw;
  }
}

/* ItemSection container */
.itemSectionContainer {
  position: static;
  /* Removed hidden */
}

/* Toggle button wrapper */
.toggleButtonWrapper {
  border: 2px solid #f43f5e; /* border-rose-500 */
  min-height: 6rem; /* min-h-24 */
  display: flex;
  flex-direction: column;
  gap: 1rem; /* gap-4 */
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* Item button section */
.itemButtonSection {
  height: 100%;
  padding: 0.5rem; /* p-2 */
  margin-top: 1rem; /* mt-4 */
}

/* Item button text */
.itemButtonText {
  text-align: center;
  color: #be123c; /* text-rose-600 */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem; /* gap-1 */
  text-decoration: none;
}

.itemButtonTextHover:hover {
  text-decoration: underline;
}

/* Rotate icon */
.iconRotate {
  transition: transform 0.3s;
  transform: rotate(0deg);
}

.iconRotateOpen {
  transform: rotate(180deg);
}

/* Close button */
.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
}

/* Items title */
.itemsTitle {
  font-size: 1.125rem; /* text-lg */
  font-weight: 600; /* font-semibold */
  margin-bottom: 1rem; /* mb-4 */
}

/* Item container */
.itemContainer {
  padding: 0.75rem; /* p-3 */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #ffffff;
  border: 1px solid #d1d5db; /* border */
  border-radius: 0.375rem; /* rounded-md */
  margin-bottom: 0.5rem; /* mb-2 */
}

/* Item name */
.itemName {
  text-transform: capitalize;
  font-weight: 500; /* font-medium */
}

.itemId {
  font-weight: 300; /* font-light */
}

/* Variant text */
.variantText {
  font-size: 0.875rem; /* text-sm */
  color: #6b7280; /* text-gray-500 */
  text-transform: capitalize;
}

/* Price */
.priceText {
  color: #166534; /* text-green-800 */
  text-align: right;
}

/* Quantity */
.quantityText {
  color: #6b7280; /* text-gray-500 */
  font-weight: 500;
  text-align: right;
}

.quantityPrefix {
  font-size: 0.875rem; /* text-sm */
}
