.container {
  background: #f0f0f0;
  padding: 10px;
  height: 100%;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
