.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  width: 100%;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.roleSelectWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.roleTitle {
  padding: 0.5rem;
  font-size: 2.25rem; /* text-4xl */
  background-color: transparent;
  border-radius: 0.25rem;
  font-weight: 600;
}

.expandIcon {
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-left: 0.25rem;
}

.select {
  background-color: transparent;
  border-radius: 0.25rem;
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.option {
  text-transform: capitalize;
}

.searchInput {
  padding: 0.5rem;
  width: 60%; /* w-3/5 */
  border: 1px solid #d1d5db; /* default border gray */
  border-radius: 0.75rem; /* rounded-xl */
}

.sortWrapper {
  display: flex;
  position: relative;
}

.sortDropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  background-color: var(--primary-color); /* replace with actual color */
  color: #cbd5e1; /* slate-300 */
  border-radius: 0.5rem;
  font-size: 0.875rem; /* text-sm */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.sortButtonTop {
  padding: 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.sortButtonTop:hover {
  background-color: var(--accent-color); /* replace with actual hover color */
}

.sortButtonBottom {
  padding: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.sortButtonBottom:hover {
  background-color: var(--accent-color);
}

.separator {
  margin-top: 0.5rem;
  height: 2px;
  border: none;
  background-color: lightgray;
  color: black;
}

.userGrid {
  display: flex;
  padding: 0.5rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.addUserCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 8rem; /* w-32 */
  min-height: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #f1f5f9; /* slate-100 */
  box-shadow: 0 25px 50px -12px rgba(124,58,237,0.25); /* shadow-2xl */
  transition: color 0.3s ease;
  background-color: var(--primary-color); /* replace with actual color */
}

.addUserCard:hover {
  color: var(--accent-color);
}
