.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem; /* gap-12 */
  justify-content: center;
  align-items: center;
}

.backButton {
  align-self: flex-start;
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.5rem; /* text-2xl */
  border-radius: 0.5rem; /* rounded-lg */
  text-transform: lowercase;
  transition: box-shadow 0.3s ease;
  padding: 1rem;
  text-align: center;
  width: 75%; /* w-3/4 */
  font-weight: 800;
}

.title:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* hover:shadow-lg */
}

.highlight {
  color: #f87171; /* Tailwind rose-400 */
}

.innerWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.actions {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem; /* gap-4 */
}

.button {
  padding: 0.75rem;
  flex-grow: 1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* shadow-xl */
}
/* // */

.container2 {
  padding: 2rem; /* p-8 */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; /* gap-8 */
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)); /* grid-cols-2 */
  gap: 1.5rem; /* gap-6 */
}

/* /////// */

