.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.goBackButton {
  align-self: flex-start;
  display: flex;
  align-items: center;
}

.heading {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  text-transform: lowercase;
  transition: all 0.3s ease;
  padding: 1rem;
  text-align: center;
  width: 75%;
  font-weight: 800;
}

.heading:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.highlight {
  color: #f43f5e; /* tailwind's rose-400 */
}

.timelineContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mainContainer {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button {
  padding: 0.75rem;
  flex-grow: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.submitButton {
  cursor: pointer;
}

.navButton {
  cursor: not-allowed;
}

.pageWrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.gridTwoCols {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
}

.flexColGap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.gridTwoColsSmallGap {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}
