.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* full viewport height */
}

.loader {
  /* You can add loader animation or styling here */
  font-size: 1rem;
  color: #000;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem; /* 16px */
}

.heading {
  font-size: 1.25rem; /* 20px */
  font-weight: 600;
}

.main {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  gap: 2rem; /* 32px */
}

.controls {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 1rem; /* 16px */
}

.btnPrimary {
  background-color: #3b82f6; /* Tailwind's blue-500 */
  color: white;
  padding: 0.5rem 1rem; /* 8px 16px */
  border-radius: 0.375rem; /* 6px */
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btnPrimary:hover {
  background-color: #1e40af; /* Tailwind's blue-700 */
}

.btnPrimaryGreen {
  background-color: #22c55e; /* Tailwind's green-500 */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btnPrimaryGreen:hover {
  background-color: #166534; /* Tailwind's green-700 */
}
