.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  transition: all 0.3s;
  padding: 1rem;
  text-align: center;
  width: 100%;
  border: 1px solid #ccc;
  font-weight: 800;
  background-color: var(--idms-inventory); /* Define this color in your global CSS variables */
}

.highlight {
  color: #f87171; /* rose-400 */
}

.popoverText {
  font-size: 0.75rem;
}

.submitBtn {
  padding: 0.75rem 3rem;
  margin: 1.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: fit-content;
  background-color: #3182ce;
  color: white;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
}

.submitBtn:disabled {
  background-color: #a0aec0;
  cursor: not-allowed;
}

.submitText {
  margin-left: 0.5rem;
}

.selectedProducts {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  overflow-x: auto;
}

.productCard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 2px solid #ccc;
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: relative;
  min-width: 200px;
}

.productName {
  font-size: 1.125rem;
  font-weight: 600;
}

.productInfo {
  font-size: 0.875rem;
}

.removeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border: none;
  background: none;
  color: #f87171;
  cursor: pointer;
}

.totalPrice {
  margin-top: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  border: 2px solid #ccc;
  width: 100%;
  height: fit-content;
}

.dropdownRow {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.dropdownWrapper {
  width: 100%;
}
.mt4{
    margin-top: 1rem;
}