/* SetupComponents/BrandingSetup.module.css */
.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.inputRow {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.imageUploadContainer {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.dropdownContainer {
  width: 33.33%; 
}