.container {
  padding: 2rem;
}

.flexColGap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.centeredCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.row {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.rowCenter {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.widthOneThird {
  width: 33.3333%;
}

.saveButton {
  padding: 0.5rem 1rem;
  background-color: #22c55e; /* green-500 */
  color: white;
  border-radius: 0.375rem;
  margin-top: 1rem;
  border: none;
  cursor: pointer;
}
