.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.header {
  font-size: 1.25rem; /* text-xl */
  font-weight: 600;   /* font-semibold */
  margin-bottom: 0.5rem;
}

.announcementList,
.noteList {
  margin-top: 1rem;     /* mt-4 */
  display: flex;
  flex-direction: column-reverse;
}

.card {
  border: 1px solid #e5e7eb; /* border */
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.cardTitle {
  font-size: 1.125rem;  /* text-lg */
  font-weight: bold;
}

.roleInfo {
  text-transform: capitalize;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  align-items: center;
}

.userInfo {
  display: flex;
  align-items: center;
}

.createNoteButton {
  margin-left: 10px;
}
