.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem; /* gap-5 */
}

.formContainer {
  padding: 1rem; /* p-4 */
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem; /* gap-5 */
}

.heading {
  font-size: 1.5rem; /* text-2xl */
  transition: box-shadow 0.3s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */
  padding: 1rem;
  text-align: center;
  width: 100%;
  font-weight: 800; /* font-extrabold */
}

.heading:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* hover:shadow-lg */
}

.titleSpan {
  text-transform: capitalize;
  color: #fb7185; /* text-rose-400 */
}
