.appWrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.layoutWrapper {
  display: flex;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

.sidebarWrapper {
  flex-shrink: 0;
  width: 240px;
  height: 100%;
  overflow-y: auto;
  background-color: var(--color-primary);
  transition: width 0.3s ease;
}

.sidebarWrapper.collapsed {
  width: 80px;
}

.contentWrapper {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex-grow: 1;
  min-height: 0;
  overflow-y: auto;
  padding: 8px;
}
