.appbar {
  min-height: 100vh; /* min-h-screen */
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  display: flex;
  flex-grow: 1;
  min-height: 100%;
  max-height: 100%;
}

.content {
  display: flex;
  position: relative;
  flex-grow: 1;
  min-height: 100%;
  max-height: 100%;
}

.sidebarWrapper {
  height: 100%;
  background-color: transparent;
  overscroll-behavior: none;
}

.contentMain {
  padding-top: 0.5rem; /* py-2 */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.innerMain {
  min-height: 100%;
  width: 100%;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1); /* shadow-inner */
}
