:root {
  --color-primary: #1e2938;
  --color-accent: #c42032;
  --color-light: #f9fafb;
  --color-dark: #1a202c;
  /* ... other default colors ... */
}

body {
  background-color: var(--color-primary);
}


body {
  /* padding: 1rem; */
  /* padding: auto; */
  margin: auto;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* position: relative; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* RE-REVISED */

.glow-up {
  @apply bg-slate-300 backdrop-filter backdrop-blur-lg;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4),
    /* Outer glow */
    0 0 40px rgba(255, 255, 255, 0.2);
  /* Even further outer glow */
}

/* REVISED */

.label-custom {
  @apply text-slate-700 text-sm font-semibold;
}

.control-bar {
  @apply flex gap-16 justify-between items-center border-2 transition p-2 rounded-xl
}

.bg-out-of-app {
  @apply shadow-xl bg-white bg-opacity-30 rounded-xl border-slate-400 border backdrop-blur-2xl
}

.misc-button {
  @apply border-2 p-2 border-black rounded-xl hover:bg-black hover:text-slate-200 transition flex gap-2 items-center capitalize
}

.form-button-nav {
  @apply bg-primary bg-opacity-90 text-white text-shadow hover:text-slate-100 transition border-none font-semibold rounded-lg
}

.form-button-submit {
  @apply bg-rose-500 bg-opacity-90 text-white text-shadow hover:text-slate-100 transition border-none font-semibold rounded-lg
}

.bg-setup {
  @apply border rounded-xl bg-opacity-70 bg-white backdrop-filter backdrop-blur-lg;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4),
    /* Outer glow */
    0 0 40px rgba(255, 255, 255, 0.2);
  /* Even further outer glow */
}

.bg-input {
  @apply rounded-xl bg-opacity-30 bg-white backdrop-filter backdrop-blur-lg;
}

.action-bar {
  @apply border rounded-xl bg-opacity-70 bg-white backdrop-filter backdrop-blur-lg hover:shadow-md;
}

/* OLD */

/*.idms-bg {*/
/*  @apply border rounded-xl bg-opacity-90 bg-white backdrop-filter backdrop-blur-lg;*/
/*}*/

.idms-order-card {
  @apply border rounded-xl bg-opacity-30 bg-stone-200 backdrop-filter backdrop-blur-lg;
}

.idms-control {
  @apply border rounded-xl bg-opacity-50 bg-white backdrop-filter backdrop-blur-lg;
}

.idms-inventory {
  @apply rounded-xl bg-opacity-50 bg-white backdrop-filter backdrop-blur-lg;
}

.idms-warehouse {
  @apply rounded-b-xl rounded-r-xl rounded-l-xl rounded-t-none bg-opacity-50 bg-white backdrop-filter backdrop-blur-lg;
}

.idms-transparent-control {
  @apply border blurit bg-opacity-20 bg-white backdrop-filter backdrop-blur-lg;
}

.idms-button {
  @apply py-2 px-6 w-full cursor-pointer hover:bg-rose-400 text-white text-shadow hover:text-slate-100 transition border-none font-semibold rounded-lg idms-accent-transparent-bg
}

.idms-submit {
  /* hover:bg-rose-300 */
  /* hover:brightness-125 hover:saturate-150 */
  /* hover:brightness-125 hover:saturate-100 */
  @apply cursor-pointer hover:brightness-125 hover:saturate-100 text-white text-shadow hover:text-slate-100 transition border-none font-semibold rounded-lg idms-accent-transparent-bg
}

.idms-back {
  @apply cursor-pointer text-slate-50 bg-rose-500 hover:bg-rose-400 transition rounded-lg
}

.idms-next {
  @apply cursor-pointer text-slate-50 bg-emerald-500 hover:bg-emerald-400 transition rounded-lg
}

.idms-add {
  @apply cursor-pointer text-slate-50 bg-blue-500 hover:bg-blue-400 transition rounded-xl
}

.idms-accent-bg {
  @apply shadow-md gradient-bg
}

.idms-accent-transparent-bg {
  @apply shadow-md gradient-transparent-bg
}

.idms-shop-bg {
  @apply shadow-md gradient-transparent-bg
}

/* may use this for something else */
.sidebar {
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* COMMENTING OUT DARK MODE FOR NOW; WILL LOOK INTO IT LATER */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */

html {
  background-color: #f1f5f9;
}

body {
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.gradient-bg {
  background: linear-gradient(135deg, rgba(255, 0, 150, 0.3), rgba(0, 204, 255, 0.3));
  border-radius: 8px;
  padding: 20px;
}

.gradient-transparent-bg {
  background: linear-gradient(135deg, rgba(255, 0, 150, 0.2), rgba(0, 204, 255, 0.3));
  border-radius: 8px;
}

.shop-bg {
  background: linear-gradient(135deg, rgba(255, 0, 150, 0.1), rgba(255, 0, 150, 0.2), rgba(0, 204, 255, 0.3), rgba(0, 204, 255, 0.1));
  border-radius: 8px;
}

.text-shadow {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.categoryContent {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.blurit {
  backdrop-filter: blur(2px);
}

/*.shop-bg {*/
/*  background: linear-gradient(to right, rgba(173, 216, 230, 0.4), rgba(255, 105, 180, 0.4));*/
/*  backdrop-filter: blur(20rem);*/
/*  -webkit-backdrop-filter: blur(10px);*/
/*  color: #fff;*/
/*  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
/*  border: 1px solid rgba(255, 255, 255, 0.2);*/
/*}*/


.glow-effect {
  --glow-line-color: #fff;
  --glow-line-thickness: 2px;
  --glow-line-length: 20px;
  --glow-blur-color: #fff;
  --glow-blur-size: 5px;
  --glow-offset: 0px;
  --animation-speed: 1200ms;
  /* do not change, used for calculations */
  --container-offset: 100px;
  position: relative;
}

.glow-container {
  pointer-events: none;
  position: absolute;
  inset: calc(var(--container-offset) / -2);
  width: calc(100% + var(--container-offset));
  height: calc(100% + var(--container-offset));
  opacity: 0;
  /* outline: 3px solid blue; */
}

.glow-blur,
.glow-line {
  width: calc(100% - var(--container-offset) + var(--glow-offset));
  height: calc(100% - var(--container-offset) + var(--glow-offset));
  x: calc((var(--container-offset) / 2) + calc(var(--glow-offset) / -2));
  y: calc((var(--container-offset) / 2) + calc(var(--glow-offset) / -2));
  /* rx: 1.25rem; */
  fill: transparent;
  stroke: black;
  stroke-width: 5px;
  stroke-dasharray: var(--glow-line-length) calc(50px - var(--glow-line-length));
}

.glow-effect:is(:hover, :focus) :is(.glow-line, .glow-blur) {
  stroke-dashoffset: -80px;
  transition: stroke-dashoffset var(--animation-speed) ease-in;
}

.glow-line {
  stroke: var(--glow-line-color);
  stroke-width: var(--glow-line-thickness);
}

.glow-blur {
  filter: blur(var(--glow-blur-size));
  stroke: var(--glow-blur-color);
  stroke-width: var(--glow-blur-size);
}

.glow-effect:is(:hover, :focus) .glow-container {
  animation: glow-visibility ease-in-out var(--animation-speed);
}

@keyframes glow-visibility {

  0%,
  100% {
    opacity: 0;
  }

  25%,
  75% {
    opacity: 1;
  }
}

.glow-effect[data-glow-animation="false"] {
  --glow-line-length: 50px;
}

.glow-effect[data-glow-offset="true"] {
  --glow-offset: 10px;
}

.glow-effect[data-glow-animation="grow"]:is(:hover, :focus) .glow-container {
  scale: 1.3;
  transition: scale var(--animation-speed) linear;
}

/* ----------------------- */

.step-item {
  @apply relative flex flex-col justify-center items-center w-36;
}

.step-item:not(:first-child):before {
  @apply content-[''] bg-slate-200 absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-2/4;
}

.step {
  @apply w-10 h-10 flex items-center justify-center z-10 relative bg-slate-700 rounded-full font-semibold text-white;
}

.active .step {
  @apply text-white bg-rose-500;
}

.complete .step {
  @apply text-white bg-rose-500;
}

.complete p {
  @apply text-slate-300;
}

.complete:not(:first-child):before,
.active:not(:first-child):before {
  @apply text-accent;
}

.take-input {
  width: fit-content;
  color: #f1f5f9;
  font-size: larger;
  background-color: var(--color-primary);
  text-align: right;
  border: none;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* STYLING FOR CONTEXT MENU BELOW */

.context-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 9999999;
}

.context-menu-item {
  padding: 8px 12px;
  cursor: pointer;
  position: relative;
  /* Set position to relative */

}

.context-menu-item:hover {
  background-color: #f5f5f5;
}

.context-submenu {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  /* Initially hide the submenu */
  list-style: none;
  margin: 0;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Show submenu on hover */
.context-menu-item:hover>.context-submenu {
  display: block;
}

/*
#appbar {
  background: linear-gradient(270deg, #ffffff 0%, #e6f7ff 50%, #fff0f5 100%);
  background-size: 400% 400%;
  animation: animationName 6s ease infinite;
}

@keyframes animationName {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}*/