.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-columns: repeat(auto-fit, 330px); */
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
}
